<h1 class="dashboard-title"><%= @user.full_name %></h1>
<div class="dashboard-account-container row justify-content-center">
  <div class="overflow-cards grid col-8 ">
    <div class="card-account-container g-col-12">
      <% @user.accounts.each do |a| %>
        <div class="card-account">
          <%= a.name %>
          <p>Balance:</p>
          <%= a.amount %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="new-account text-center col-4">
    <i class="fa-solid fa-circle-plus fa-3x" data-bs-toggle="modal" data-bs-target="#newAccountModal"></i>
    <%= render 'accounts/modal_new' %>
  </div>
</div>

<div class= "dashboard-info justify-content-center">
  <div class= "chart-transaction">
    <div class= "chart">
    </div>
    <div class="transactions">
      <div class="transactions-header">
        <h1 class="transactions-title">Your Transactions</h1>
        <div class="search-container">
          <%= form_with url: transactions_path, remote: true, method: :get do  %>
            <%= text_field_tag :query, params[:query], placeholder: "Search", class: "input-search"%>
            <%= button_tag(type: "submit", class: "btn my-0 my-sm-0 mr-sm-2 btn-search") do %>
              <i class="fas fa-search text-light"></i>
            <% end %>
          <% end %>
        </div>
        <div class="transactions-new text-center col-4">
          <i class="fa-solid fa-circle-plus fa-2x" data-bs-toggle="modal" data-bs-target="#newTransactionModal"></i>
          <%= render 'transactions/modal_new_transaction', transaction: Transaction.new %>
        </div>
      </div>
      <div class="transactions-info justify-content-center">
      <table class="transactions-table">
        <thead>
          <tr>
            <td>Reason</td>
            <td>Date</td>
            <td>Amount</td>
            <td>Account</td>
            <td>Category</td>
            <td>Action</td>
          </tr>
        </thead>
        <tbody>
          <% @user.transactions.each do |transaction| %>
            <tr>
              <td><%= transaction.reason %></td>
              <td><%= transaction.date %></td>
              <td><%= transaction.amount %></td>
              <td><%= transaction.account.name %></td>
              <td><%= transaction.category.category_type %></td>
              <td>
                <i class="fa-solid fa-pen-to-square text-light" data-bs-toggle="modal" data-bs-target="#editTransactionModal"></i>
                <%= render 'transactions/modal_edit_transaction', transaction: transaction %>
                 |
                <%= link_to transaction_path(transaction), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
                <i class="fa-solid fa-trash text-light"></i>
                <% end %>
                </td>
            </tr>
          <% end %>
        </tbody>
      </table>
  </div>
    </div>
  </div>
  <div class= "balances">
  </div>
</div>
