<h1 class="dashboard-title"><%= @user.full_name %></h1>
<div class="dashboard-account-container row justify-content-center">
  <div class="overflow-cards grid col-8 ">
    <div class="card-account-container g-col-12">
      <% @user.accounts.each do |a| %>
        <div class="card-account">
          <%= a.name %>
          <p>Balance:</p>
          <%= a.amount %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="new-account text-center col-4">
    <i class="fa-solid fa-circle-plus fa-3x" data-bs-toggle="modal" data-bs-target="#newAccountModal"></i>
    <%= render 'accounts/modal_new' %>
  </div>
</div>

<div class= "dashboard-info justify-content-center">
  <div class= "chart-transaction">
    <div class= "chart">
      
      <%= render "shared/charts" %>
    </div>
    <div class= "transactions">
    </div>
  </div>
  <div class= "balances">
  </div>
</div>
