<div class="banner">
  <div class="home-container">
    <div class="home-text">
      <% if user_signed_in? %>
        <h1>HOME</h1>

        <!-- <p>
        Tip:
        <% tips = Tip.all %>
        <% tip = tips.sample %>
        <%= tip.title %>:
        <%= tip.message %>
        </p> -->
        <%= link_to "Chart Selector", "#", class: "btn-violet", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
          <%= link_to "Action", "#" %>
          <%= link_to "Another action", "#", class: "dropdown-item" %>
        </div>
        <div>
          <select name="select" id="chart-selector">
            <option selected>Chart Selector</option>
            <option value="barras">Graficos de barras</option>
            <option value="otros">otros graficos</option>
          </select>

        </div>
        <div id="barras-charts">
          <%= column_chart current_user.accounts.group(:name).sum(:amount) %>
          <%= column_chart current_user.transactions.group_by_day(:date).sum(:amount) %>
          <%= bar_chart current_user.accounts.group(:name).sum(:amount), empty: "No data", colors: ["#C5A5CF"], adapter: "google",  library: { backgroundColor: "#2D4054", dataset: {borderWidth: 10, fillColor: "#ffffff"}, vAxis: { baselineColor: "#ffffff", gridlines: {Color: "" }, textStyle: { color: "#ffffff"}, titleTextStyle: {color: "#ffffff"} }, hAxis: { baselineColor: "#ffffff" , gridlines: {Color: "" }, textStyle: { color: "#ffffff"} , titleTextStyle: {color: "#ffffff"} } }  %>
        </div>
        <div id="otros-charts">
          <%= line_chart current_user.transactions.group(:account_id).group_by_day(:date).sum(:amount) %>
          <%= pie_chart current_user.transactions.joins(:category).group(:name).sum(:amount), legend: false %>
        </div>
      <% else %>
        <p>Take better control of your finances and achieve the savings you so desire!</p>
        <%= image_tag 'credit-card.jpg'  %>
        <!--<img src='images/credit-card.jpg' alt="tarjeta de credito"> -->
      </div>
    </div>
  <% end %>
      <!-- <% if user_signed_in? %>
        <div class="container">
          <div class="row">
            <div class="col">
              Suma de todos los incomes:
              <% total_incomes = 0 %>
              <% Transaction.all.where(user_id: current_user.id, transaction_type: 0).each { |transaction| total_incomes += transaction.amount }  %>
              <%= total_incomes %>

            </div>
            <div class="col">
              Suma de todos los expense:
              <% total_expense = 0 %>
              <% Transaction.all.where(user_id: current_user.id, transaction_type: 1).each { |transaction| total_expense += transaction.amount }  %>
              <%= total_expense %>
            </div>
            <div class="col">
              Disponible: <%= total_incomes - total_expense %>
            </div>
          </div>
          <div class="row">
            <div class="col">
              Imagen 5
            </div>
            <div class="col">
              Imagen 6
            </div>
            <div class="col">
            Tip:
          </div>
          </div>
        </div>
      <% else %>
        <h2>Inicie Sesión o Registrese</h2>
      <% end %>
    </div>
  </div> -->
</div>
