<div class="container">
  <div class="row justify-content-center p-5">
    <h1 class="mb-5">Your Transactions</h1>
      <div class="search-container">
        <%= form_with url: transactions_path, remote: true, method: :get do  %>
          <%= text_field_tag :query, params[:query], placeholder: "Search", class: "input-search"%>
          <%= button_tag(type: "submit", class: "btn my-0 my-sm-0 mr-sm-2 btn-search") do %>
            <i class="fas fa-search text-light"></i>
          <% end %>
        <% end %>
      </div>
    <table>
      <thead>
        <tr>
          <td>Reason</td>
          <td>Date</td>
          <td>Amount</td>
          <td>Account</td>
          <td>Category</td>
          <td>Action</td>
        </tr>
      </thead>
      <tbody>
        <% @transactions.each do |transaction| %>
          <tr>
            <td><%= transaction.reason %></td>
            <td><%= transaction.date %></td>
            <td><%= transaction.amount %></td>
            <td><%= transaction.account.name %></td>
            <td><%= transaction.category.category_type %></td>
            <td><p><%= link_to "Edit", edit_transaction_path(transaction) %> or <%= link_to "Delete", transaction_path(transaction), data: { turbo_method: :delete } %></p></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="d-flex justify-content-center">
      <%= button_to "New transaction", new_transaction_path, class:"btn-violet", method: :get %>
    </div>
  </div>
</div>
