<div class="container">
  <div class="row justify-content-center p-5">
    <h1 class="mb-5">Your Transactions</h1>
    <table>
      <thead>
        <tr>
          <td>Reason</td>
          <td>Date</td>
          <td>Amount</td>
          <td>Account</td>
          <td>Category</td>
          <td>Action</td>
        </tr>
      </thead>
      <tbody>
        <% @transactions.each do |transaction| %>
          <tr>
            <td><%= transaction.reason %></td>
            <td><%= transaction.date %></td>
            <td><%= transaction.amount %></td>
            <td><%= transaction.account.account_type %></td>
            <td><%= transaction.category.category_type %></td>
            <td><%= link_to "Edit", edit_transaction_path(transaction) %> or <%= link_to "Delete", transaction_path(transaction), data: { turbo_method: :delete } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= button_to "New transaction", new_transaction_path, class:"btn-violet", method: :get %>
  </div>
</div>
