<div class="container">
  <div class="row justify-content-center">
    <h1 class="m-5">Your Accounts</h1>

    <table>
      <thead>
        <tr>
          <td>Name</td>
          <td>Type</td>
          <td>Amount</td>
          <td>Action</td>
        </tr>
      </thead>
      <tbody>
        <% @accounts.each do |account| %>
          <tr>
            <td><%= account.name %></td>
            <td><%= account.account_type %></td>
            <td><%= account.amount %></td>
            <td><%= link_to "Edit", edit_account_path(account) %> or <%= link_to "Delete", account_path(account), data: { turbo_method: :delete } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="row justify-content-center p-1">
      <div class="col-4">
        <div class="btn-violet m-5 p-2">
          <%= link_to "New account", new_account_path %>
        </div>
      </div>
    </div>
  </div>
</div>
