<div class="container">
  <div class="row justify-content-center">
    <h1 class="m-5">Your Accounts</h1>

    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Amount</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% @accounts.each do |account| %>
          <tr>
            <td><%= account.name %></td>
            <td><%= account.account_type %></td>
            <td><%= account.amount %></td>
            <td><%= link_to "Edit", edit_account_path(account) %> or <%= link_to "Delete", account_path(account), data: { turbo_method: :delete } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
      <div class="d-flex justify-content-center">
        <%= button_to "New account", new_account_path, class:"btn-violet", method: :get %>
      </div>
    </div>
  </div>
</div>
